@font-face {
  font-family: "Gilroy Semi-Bold";
  src: url("../../auracle/fonts/Gilroy-SemiBold.ttf") format("truetype");
}

body {
    margin: 0;
    font-family: "Gilroy Semi-Bold", Helvetica, sans-serif;
    background-color: white;
    color: #434d52;
    /* padding-bottom:160px; */
  }

  #canvas {
    color: black;
    height: 95vh;
    width: 70.4vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: rgb(133, 133, 133) 1px 1px 20px;
  }

  #canvas--small-text {
    padding: 20px;
    background-color: white;
    /*border-color: black;
      font-size:12px;
      letter-spacing: .25px;
      line-height: 1.1; */
    font-size: 5vmin;
    letter-spacing: 0.0375vmin;
    line-height: 110%;
    height: 35%;
    position: fixed;
    bottom: 500;
    width: 100%;
  }

  #canvas--artwork {
    color: white;
    background-color: white;
    /* font-size:110px; */
    line-height: 80%;
    width: 100%;
    height: 65%;
    cursor: pointer;
    font-size: 12vmin;
  }

  #controls {
    padding: 30px;
    /* color: rgba(0,0,0,.5); */
    font-size: 14px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: var(--canvasForeground);
  }

  .artwork-text{
    padding: 10px 5px 5px 5px;
  }

  #value-1{
    background-color: white;
    width: 200px;
    height: 30px;
    border-width: 2px;
    border-radius: 20px;
    border-color: #0269E1;
    margin-top: 5px;
    color: #434d52;
    text-transform: uppercase;
  }

  #value-1:hover {
    border-width: 2px;
    border-radius: 20px;
    border-color: #FFBB0D;
  }

  #value-2{
    background-color: white;
    width: 200px;
    height: 30px;
    border-width: 2px;
    border-radius: 20px;
    border-color: #0269E1;
    margin-top: 5px;
    color: #434d52;
    text-transform: uppercase;

  }

  #value-2:hover {
    border-width: 2px;
    border-radius: 20px;
    border-color: #FF6B6B;
  }

  #value-3{
    background-color: white;
    width: 200px;
    height: 30px;
    border-width: 2px;
    border-radius: 20px;
    border-color: #0269E1;
    margin-top: 5px;
    color: #434d52;
    text-transform: uppercase;

  }

  #value-3:hover {
    border-width: 2px;
    border-radius: 20px;
    border-color: #6F34EE;
  }

  .colors{
    position: relative;
    width: 200px;
  }

  .blob {
    position: relative;
    border-radius: 50%;
  }

  #blob1 {
    top: 50px;
    left: 50px;
    position: absolute;
    transition-duration: 2s;
  }

  #blob2 {
    top: 100px;
    left: 100px;
    position: absolute;
    transition-duration: 2s;
  }

  #blob3 {
    top: 10px;
    left: 10px;
    position: absolute;
    transition-duration: 2s;
  }

  #title-text{
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 0.9;
    overflow: hidden;
    height:130px;
  }

  #name-text{
    font-size: 2rem;
    overflow: hidden;
    text-transform: uppercase;
    height:50px;
  }

  #emptyspace{
    font-size: 2rem;
    overflow: hidden;
    height:30px;
  }

  #color-text{
    font-size: 1.25rem;
    line-height: 1.0;
    text-transform: uppercase;
  }

  input[type="text"],
  textarea {
    width: 200px;
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    border-bottom: 2px solid #0269E1;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Gilroy Semi-Bold", Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 4px;
    padding-left: 0px;
    /* margin-top: 12px; */
    height: 17px;
    transition: height 200ms;
    resize: none;
    color: #9e9e9e;
}

input[type="text"]:focus,
textarea:focus {
  outline: auto;
  outline-color: #0269E1;
  color: #434d52;
}

textarea:focus {
  height: 80px;
}

input[type="text"]::placeholder {
  text-align: left;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-family: "Gilroy Semi-Bold", Helvetica, sans-serif;
  font-weight: 500;;
}

textarea::placeholder {
  color: var(--canvasForegroundAlpha2);
}

#magic-button {
  padding: 10px 12px 6px;
  color: white;
  height: 40px;
  width: 210px;
  border: 2px solid #0a2342;
  cursor: pointer;
  display: inline-block;
  margin-right: 0;
  font-size: 14px;
  line-height: 1.2;
  margin-top: 20px;
  letter-spacing: 0.2px;
  border-radius: 30px;
  background-color: #0a2342;
}
#magic-button:hover {
  color: white;
  border: 2px solid white;
  /*background-color: #0a2342;*/
  background: rgb(255,187,13);
  background: linear-gradient(90deg, rgba(255,187,13,1) 0%, rgba(255,107,107,1) 25%, rgba(111,52,238,1) 75%, rgba(2,105,225,1) 100%);
}
